.label-div {
  list-style-type: none;
  font-size: 13px;
    padding: 5px;
}
.label-div-2 {
  list-style-type: none;
  font-size: 13px;
  padding: 5px;
}
.divvv {
  color: white;
}
.type {
}
.label {
  padding-right: 10px;
}
